extends index

block header
  .header
    img(src='./images/contact_header.png')
block content
  link(rel='stylesheet' type="text/css" href='/css/contact.css')
  -
    const headers = ['contact', 'mail', 'phone']
    const info = {
      contact: 'Alvin H. Gusfre',
      mail: 'astroturf.official@gmail.com', 
      phone: '+47 123 45 678'
    }
  .header-photo
    img(src='./images/contact_picture.jpeg')
  .container
    .booking
      each item in headers
        .first-col
          p=item + ':'
        .second-col
          p=info[item] 
        
    