extends index

block header
  .header
    img(src='./images/logo_header.png')
block content
  link(rel='stylesheet' type="text/css" href='/css/home.css')
  .header-photo
    img(src='./images/band_main_cropped.jpeg')
  .content
  