doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/css/style.css')
    body
      -
        const items = ['home', 'live', 'merch', 'about', 'contact']
      block header
      .nav-bar
        ul
          each item in items
            li
              a(href=item=='home' ? '/' : `/${item}`)= item
      block content
      .socials
        a(href='https://open.spotify.com/artist/48bpT2Iq76QB7bX7Qj9W9a?si=pR1J7ZNBQoa7tLVidxVd2g')
          img(src= './images/spotify.png')
        a(href='https://www.instagram.com/astroturf_band')
          img(src= `./images/instagram.png `)
        a(href='https://www.facebook.com/Astroturfofficial')
          img(src= './images/facebook.png')
        a(href='https://www.tiktok.com/@astroturf_band')
          img(src= './images/tiktok.png')
