extends index

block header 
  .header
    img(src='./images/live_header.png')

block content
  link(rel='stylesheet' type="text/css" href='/css/live.css')
  .header-photo
    img(src='./images/live_picture.jpg')
  .iframe
    a.songkick-widget(href='https://www.songkick.com/artists/10265245' data-theme='dark' data-track-button='on' data-detect-style='true' data-font-color='#f64087' data-background-color='#000000' data-locale='en') Astroturf (NO) tour dates
    script(src='//widget.songkick.com/10265245/widget.js')
