extends index

block header
  .header
    img(src='./images/merch_header.png')
block content
  link(rel='stylesheet' type="text/css" href='/css/merch.css')
  -
    const merch = [
      {name: 't-shirt', price: 250}, 
      {name: 'sweater', price: 300}, 
      {name: 'hoodie', price: 350}, 
      {name: 'laces', price: 69}
    ]
  .banner
    img(src='./images/merch_banner.png')
    img(src='./images/merch_banner.png')
    img(src='./images/merch_banner.png')
    img(src='./images/merch_banner.png')
  .container
    .wrapper 
      table
        tbody  
          each item in merch
            tr
              td.picture
                if item.name == 'sweater'
                  img(src='./images/hoodie.png')
                else
                  img(src=`./images/${item.name}.png`) 
              td.desc
                p=item.name
              td.order
                button
                  ='Order'
                  br
                  =`(${item.price} NOK)`
    p='All shipping fees included'

